html {
    background-color: brown;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;


}
body {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 20px;

}
h1 {
      font-size: 60px;
      background: linear-gradient(90deg, #06b6d4, #7c3aed, #10b981);
      background-size: 300% 300%;
      -webkit-background-clip: text;
      color: transparent;
      animation: slide 5s linear infinite;
    }
    @keyframes slide {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }


img {
    height: 50vh;
    position: relative;
    max-width: 50vh;
    align-items: center;
    justify-content: center;
}
#about {
    padding: 10px;
    flex: content;
    

}
#hobbies {
    padding: 10px;
    flex: content;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#contact {
    padding: 10px;
    flex: content;
}
ol {
    text-align: center;
    display: inline-block
}